@model ImgBoard.Web.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Results";
}

@section styles {
    @Styles.Render("~/Content/boardcss")
    @Styles.Render("~/Content/searchcss")
}

@section scripts {
    @Scripts.Render("~/bundles/boardjs")

    <script>
        $(document).ready(function () {
            $('.imagesGrid').imagesLoaded().progress(function () {
                $('#gridContent').masonry({
                    itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
                    columnWidth: '.grid-sizer',
                    percentPosition: true
                });
            });
        });
    </script>
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Images
        </h1>
        <ol class="breadcrumb">
            <li>Search results for</li>
            <li class="active">@Model.Term</li>
        </ol>
    </div>
</div>

@Html.Partial("_ImagesSearch")
@Html.Partial("_ImagesList", Model.Results)